*.mp4
*.txt
*.mp3
/AdamsAutoVidWorkflow
02_RawSubtitles/backup/COMPILED_AUDIO_merged.srt
02_RawSubtitles/backup/COMPILED_AUDIO.srt
02_RawSubtitles/COMPILED_AUDIO.srt
02_RawSubtitles/COMPILED_AUDIO_merged.srt
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan.otio
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan_partial.md
