*.mp4
*.txt
*.mp3
/AdamsAutoVidWorkflow
02_RawSubtitles/backup/COMPILED_AUDIO_merged.srt
02_RawSubtitles/backup/COMPILED_AUDIO.srt
02_RawSubtitles/COMPILED_AUDIO.srt
02_RawSubtitles/COMPILED_AUDIO_merged.srt
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan.otio
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan.md
03_EditPlanToOtio/editplan_partial.md
03_EditPlanToOtio/editplan_partial.7z
editplan.md
editplan.otio
deepseekapikey.txt
deepseekapikey.txt
*.7z
*.txt
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea
*.srt
*.concat
05_Memes/.scripts/memeeditplan.md
05_Memes/memeeditplan.md
